# directories used for different make commands
# TEST_DIR = tests
# PACKAGE_DIR = src
EXPERIMENT_DIR = experiments
PROJECT_DIR = project

# specific paths for executors. Helps when managing virtual environemnts.
# uncomment below lines which paths to virtual environemnt tools if needed.
# PYTHON =

# testing vars
LINTING_LINELENGTH = 120
